body{
    padding: 0;
    margin: 0;
    background: #F5EFEA;
    color: #000;
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: 400;
    max-width: 1903px;
    margin: 0 auto;
    text-align: center;
}

.text{
    margin: 200px auto;
}